<p>更新</p>
<%= form_with model: @notice, url:"/notices/#{@notice.id}", method: :patch, local: true do |f| %>
<table class="table">
  <tr>
    <th>通知タイトル</th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>通知名</th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= f.text_field :category %></td>
  </tr>
  <tr>
    <th>詳細・説明（リンク等）</th>
    <td><%= f.text_field :detail %></td>
  </tr>
</table>  
<%= f.submit "送信", class:"bg-success text-white" %>
<% end %>