<%= link_to "投稿画面へ", "/notices/new" %>
<% @notices.each do |notice| %>
  <p>
    <%= notice.updated_at %>
    <%= notice.title %>
    <%= notice.name %>
    <%= notice.category %>
    <%= link_to '削除', "/notices/#{notice.id}", method: :delete, data: {confirm: "削除しますか？"} %>
  </p>
<% end %>